# defaults
__pycache__
/params.txt
/cache.json
/config.json
/ui-config.json
/setup.log
/styles.csv
/user.css
/webui-user.bat
/webui-user.sh
/javascript/themes.json
venv

# all models and temp files
*.bak
*.ckpt
*.safetensors
*.pth
*.pt
*.bin
*.optim
*.lock
*.zip
*.rar
*.pyc

# all dynamic stuff
/repositories/**/*
/extensions/**/*
/outputs/**/*
/embeddings/**/*
/models/**/*
/interrogate/**/*
/train/log/**/*
/textual_inversion/**/*
/detected_maps/**/*
/tmp
/log
/cert
.vscode/

# unexcluded so folders get created
!/repositories/.placeholder
!/models/VAE-approx
!/models/VAE-approx/model.pt
