# defaults
__pycache__
/params.txt
/cache.json

# all models and temp files
*.ckpt
*.safetensors
*.pth
*.pt
*.bin
*.optim
*.lock
*.zip
*.rar
*.pyc

# all dynamic stuff
/repositories/**/*
/extensions/**/*
/outputs/**/*
/embeddings/**/*
/models/**/*
/interrogate/**/*
/train/log/**/*
/tmp
/log
/cert

# unexcluded so folders get created
!/repositories/.placeholder
!/extensions/.placeholder
!/embeddings/.placeholder
!/outputs/.placeholder
!/models/.placeholder
!/localizations/.placeholder
