*       @AUTOMATIC1111
/localizations/ar_AR.json   @xmodar @blackneoo
/localizations/de_DE.json   @LunixWasTaken
/localizations/es_ES.json   @innovaciones
/localizations/fr_FR.json   @tumbly
/localizations/it_IT.json   @EugenioBuffo
/localizations/ja_JP.json   @yuuki76
/localizations/ko_KR.json   @36DB
/localizations/pt_BR.json   @M-art-ucci
/localizations/ru_RU.json   @kabachuha
/localizations/tr_TR.json   @camenduru
/localizations/zh_CN.json   @dtlnor @bgluminous
/localizations/zh_TW.json   @benlisquare
