accelerate==0.15.0
basicsr==1.4.2
blendmodes==2022
gfpgan==1.3.8
GitPython==3.1.27
gradio==3.16.2
numpy==1.23.5
omegaconf==2.2.3
Pillow==9.4.0
pytorch_lightning==1.7.7
realesrgan==0.3.0
scikit-image==0.19.2
timm==0.6.7
torchdiffeq==0.2.3
torchsde==0.2.5
transformers==4.25.1
