transformers==4.26.0
albumentations==1.3.0
diffusers[torch]==0.10.2
pytorch-lightning==1.9.0
bitsandbytes==0.35.0
tensorboard==2.10.1
timm==0.6.12
fairscale==0.4.13
# tensorflow==2.10.1
altair==4.2.2
easygui==0.98.3
toml==0.10.2
voluptuous==0.13.1
safetensors>=0.2.6
dadaptation
lion-pytorch
lycoris_lora