accelerate==0.17.1
diffusers==0.14.0
einops==0.4.1
fastapi==0.94.0
gfpgan==1.3.8
GitPython==3.1.31
gradio==3.16.2
numexpr==2.8.4
omegaconf==2.3.0
pandas==1.5.3
Pillow==9.4.0
protobuf==3.20.3
pytorch_lightning==1.9.4
realesrgan==0.3.0
safetensors==0.3.0
transformers==4.26.1
