.output-html p {margin: 0 0.5em;}
.performance { font-size: 0.85em; color: #444; }

#txt2img_generate, #img2img_generate{
    max-width: 13em;
}

#txt2img_roll{
    min-width: 1em;
    max-width: 4em;
}

button{
    align-self: stretch !important;
}

#img2img_prompt, #txt2img_prompt{
    padding: 0;
    border: none !important;
}

#img2maskimg .h-60{
    height: 30rem;
}

.overflow-hidden, .gr-panel{
    overflow: visible !important;
}

#x_type, #y_type{
    max-width: 10em;
}

fieldset span.text-gray-500, .gr-block.gr-box span.text-gray-500,  label.block span{
    position: absolute;
    top: -0.6em;
    line-height: 1.2em;
    padding: 0 0.5em;
    margin: 0;

    background-color: white;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.dark fieldset span.text-gray-500, .dark .gr-block.gr-box span.text-gray-500, .dark label.block span{
    background-color: rgb(31, 41, 55);
    border-top: 1px solid rgb(55 65 81);
    border-left: 1px solid rgb(55 65 81);
    border-right: 1px solid rgb(55 65 81);
}


.gr-panel div.flex-col div.justify-between label span{
    margin: 0;
}

.gr-panel div.flex-col div.justify-between div{
  position: absolute;
  top: -0.1em;
  right: 1em;
  padding: 0 0.5em;
}

input[type="range"]{
    margin: 0.5em 0 -0.3em 0;
}

#txt2img_sampling label{
    padding-left: 0.6em;
    padding-right: 0.6em;
}
