.output-html p {margin: 0 0.5em;}
.performance { font-size: 0.85em; color: #444; }

#txt2img_generate, #img2img_generate{
    max-width: 13em;
}

#img2img_interrogate{
    max-width: 10em;
}

#subseed_show{
    min-width: 6em;
    max-width: 6em;
}

#subseed_show label{
    height: 100%;
}

#txt2img_roll{
    min-width: 1em;
    max-width: 4em;
}

#style_index{
    min-width: 9em;
    max-width: 9em;
    padding-left: 0;
    padding-right: 0;
}

#toprow div{
    border: none;
    gap: 0;
}

#resize_mode{
    flex: 1.5;
}

button{
    align-self: stretch !important;
}

#img2img_prompt, #txt2img_prompt, #img2img_negative_prompt, #txt2img_negative_prompt{
    border: none !important;
}
#img2img_prompt textarea, #txt2img_prompt textarea, #img2img_negative_prompt textarea, #txt2img_negative_prompt textarea{
    border: none !important;
}


#img2maskimg .h-60{
    height: 30rem;
}

.overflow-hidden, .gr-panel{
    overflow: visible !important;
}

#x_type, #y_type{
    max-width: 10em;
}

#txt2img_preview, #img2img_preview{
    position: absolute;
    width: 320px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
}

#txt2img_preview div.left-0.top-0, #img2img_preview div.left-0.top-0{
    display: none;
}

fieldset span.text-gray-500, .gr-block.gr-box span.text-gray-500,  label.block span{
    position: absolute;
    top: -0.6em;
    line-height: 1.2em;
    padding: 0 0.5em;
    margin: 0;

    background-color: white;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.dark fieldset span.text-gray-500, .dark .gr-block.gr-box span.text-gray-500, .dark label.block span{
    background-color: rgb(31, 41, 55);
    border-top: 1px solid rgb(55 65 81);
    border-left: 1px solid rgb(55 65 81);
    border-right: 1px solid rgb(55 65 81);
}

#settings fieldset span.text-gray-500, #settings .gr-block.gr-box span.text-gray-500, #settings label.block span{
    position: relative;
    border: none;
}

.gr-panel div.flex-col div.justify-between label span{
    margin: 0;
}

.gr-panel div.flex-col div.justify-between div{
  position: absolute;
  top: -0.1em;
  right: 1em;
  padding: 0 0.5em;
}

#settings .gr-panel div.flex-col div.justify-between div{
    position: relative;
    z-index: 200;
}

input[type="range"]{
    margin: 0.5em 0 -0.3em 0;
}

#txt2img_sampling label{
    padding-left: 0.6em;
    padding-right: 0.6em;
}

#mask_bug_info {
  text-align: center;
  display: block;
  margin-bottom: 0.5em;
}

#txt2img_negative_prompt, #img2img_negative_prompt{
    flex: 0.3;
    min-width: 10em;
}

.progressDiv{
  width: 100%;
  height: 30px;
  background: #b4c0cc;
  border-radius: 8px;
}

.dark .progressDiv{
  background: #424c5b;
}

.progressDiv .progress{
  width: 0%;
  height: 30px;
  background: #0060df;
  color: white;
  font-weight: bold;
  line-height: 30px;
  padding: 0 8px 0 0;
  text-align: right;
  border-radius: 8px;
}

