/* generic html tags */
@font-face { font-family: 'NotoSans'; font-display: swap; font-style: normal; font-weight: 100; src: local('NotoSans'), url('notosans-nerdfont-regular.ttf') }
:root, .light, .dark {
  --font: 'NotoSans';
  --font-mono: 'ui-monospace', 'Consolas', monospace;
  --font-size: 16px;
  --primary-50: #7dffff;
  --primary-100: #72e8e8;
  --primary-200: #67d2d2;
  --primary-300: #5dbcbc;
  --primary-400: #52a7a7;
  --primary-500: #489292;
  --primary-600: #3e7d7d;
  --primary-700: #356969;
  --primary-800: #2b5656;
  --primary-900: #224444;
  --primary-950: #193232;
  --highlight-color: var(--primary-200);
  --inactive-color: var(--primary--800);
  --body-text-color: var(--neutral-800);
  --body-text-color-subdued: var(--neutral-600);
  --background-color: #FFFFFF;
  --background-fill-primary: var(--neutral-400);
  --input-padding: 4px;
  --input-background-fill: var(--neutral-300);
  --input-shadow: 2px 2px 2px 2px var(--neutral-500);
  --button-secondary-text-color: black;
  --button-secondary-background-fill: linear-gradient(to bottom right, var(--neutral-200), var(--neutral-500));
  --button-secondary-background-fill-hover: linear-gradient(to bottom right, var(--neutral-500), var(--neutral-200));
  --block-title-text-color: var(--neutral-900);
  --radius-sm: 2px;
  --radius-lg: 4px;
  --line-sm: 1.2em;
  --line-md: 1.4em;
}

html { font-size: var(--font-size); }
body, button, input, select, textarea { font-family: var(--font);}
button { max-width: 400px; --button-large-radius: var(--radius-lg) }
img { background-color: var(--background-color); }
input[type=range] { height: var(--line-sm) !important; appearance: none !important; margin-top: 0 !important; min-width: 160px !important;
  background-color: var(--background-color) !important; width: 100% !important; background: transparent !important; }
input[type=range]::-webkit-slider-runnable-track { width: 100% !important; height: var(--line-sm) !important; cursor: pointer !important; box-shadow: 2px 2px 3px #111111 !important;
  background: var(--input-background-fill) !important; border-radius: var(--radius-lg) !important; border: 0px solid #222222 !important; }
input[type=range]::-moz-range-track { width: 100% !important; height: var(--line-sm) !important; cursor: pointer !important; box-shadow: 2px 2px 3px #111111 !important; background:
  var(--input-background-fill) !important; border-radius: var(--radius-lg) !important; border: 0px solid #222222 !important; }
input[type=range]::-webkit-slider-thumb { box-shadow: 2px 2px 3px #111111 !important; border: 0px solid #000000 !important; height: var(--line-sm) !important; width: var(--line-sm) !important;
  border-radius: var(--radius-lg) !important; background: var(--highlight-color) !important; cursor: pointer !important; appearance: none !important; margin-top: 0px !important; }
input[type=range]::-moz-range-thumb { box-shadow: 2px 2px 3px #111111 !important; border: 0px solid #000000 !important; height: var(--line-sm) !important; width: var(--line-sm) !important;
  border-radius: var(--radius-lg) !important; background: var(--highlight-color) !important; cursor: pointer !important; appearance: none !important; margin-top: 0px !important; }
::-webkit-scrollbar { width: 12px; }
::-webkit-scrollbar-track { background: #333333; }
::-webkit-scrollbar-thumb { background-color: var(--highlight-color); border-radius: var(--radius-lg); border-width: 0; box-shadow: 2px 2px 3px #111111; }
div.form { border-width: 0; box-shadow: none; background: transparent; overflow: visible; margin-bottom: 6px; }
div.compact { gap: 1em; }

/* gradio style classes */
fieldset .gr-block.gr-box, label.block span { padding: 0; margin-top: -4px; }
.border-2 { border-width: 0; }
.border-b-2 { border-bottom-width: 2px; border-color: var(--highlight-color) !important; padding-bottom: 2px; margin-bottom: 8px; }
.bg-white { color: lightyellow; background-color: var(--inactive-color); }
.gr-box { border-radius: var(--radius-sm) !important; background-color: #111111 !important; box-shadow: 2px 2px 3px #111111; border-width: 0; padding: 4px; margin: 12px 0px 12px 0px }
.gr-button { font-weight: normal; box-shadow: 2px 2px 3px #111111; font-size: 0.8rem; min-width: 32px; min-height: 32px; padding: 3px; margin: 3px; }
.gr-check-radio { background-color: var(--inactive-color); border-width: 0; border-radius: var(--radius-lg); box-shadow: 2px 2px 3px #111111; }
.gr-check-radio:checked { background-color: var(--highlight-color); }
.gr-compact { background-color: var(--background-color); }
.gr-form { border-width: 0; }
.gr-input { background-color: #333333 !important; padding: 4px; margin: 4px; }
.gr-input-label { color: lightyellow; border-width: 0; background: transparent; padding: 2px !important; }
.gr-panel { background-color: var(--background-color); }
.eta-bar { display: none !important }
svg.feather.feather-image, .feather .feather-image { display: none }
.gap-2 { padding-top: 8px; }
.gr-box > div > div > input.gr-text-input { right: 0; width: 4em; padding: 0; top: -12px; border: none; max-height: 20px; }
.output-html { line-height: 1.2rem; overflow-x: hidden; }
.output-html > div { margin-bottom: 8px; }
.overflow-hidden .flex .flex-col .relative col .gap-4 { min-width: var(--left-column); max-width: var(--left-column); } /* this is a problematic one */
.p-2 { padding: 0; }
.px-4 { padding-lefT: 1rem; padding-right: 1rem; }
.py-6 { padding-bottom: 0; }
.tabs { background-color: var(--background-color); }
.block.token-counter span { background-color: var(--input-background-fill) !important; box-shadow: 2px 2px 2px #111; border: none !important; font-size: 0.7rem; }
.tab-nav { zoom: 110%; margin-top: 10px; margin-bottom: 10px; border-bottom: 2px solid var(--highlight-color) !important; padding-bottom: 2px; }
.label-wrap { margin: 16px 0px 8px 0px; }
.gradio-button.tool { border: none; background: none; box-shadow: none; filter: hue-rotate(340deg) saturate(0.5); }
#tab_extensions table td, #tab_extensions table th { border: none; padding: 0.5em; }
#tab_extensions table { width: 96vw }
#tab_extensions table thead { background-color: var(--neutral-700); }

/* automatic style classes */
.progressDiv { border-radius: var(--radius-sm) !important; position: fixed; top: 44px; right: 26px; max-width: 262px; height: 48px; z-index: 99; box-shadow: var(--button-shadow); }
.progressDiv .progress { border-radius: var(--radius-lg) !important; background: var(--highlight-color); line-height: 3rem; height: 48px; }
.gallery-item { box-shadow: none !important; }
.performance { color: #888; }
.extra-networks { border-left: 2px solid var(--highlight-color) !important; padding-left: 4px; }
.image-buttons { gap: 10px !important; justify-content: center; }
.image-buttons > button { max-width: 160px; }
#system_row > button, #settings_row > button, #config_row > button { max-width: 10em; }

/* gradio elements overrides */
#div.gradio-container { overflow-x: hidden; }
#img2img_label_copy_to_img2img { font-weight: normal; }
#txt2img_prompt, #txt2img_neg_prompt, #img2img_prompt, #img2img_neg_prompt, #control_prompt, #control_neg_prompt { background-color: var(--background-color); box-shadow: 4px 4px 4px 0px #333333  !important; }
#txt2img_prompt > label > textarea, #txt2img_neg_prompt > label > textarea, #img2img_prompt > label > textarea, #img2img_neg_prompt > label > textarea, #control_prompt > label > textarea, #control_neg_prompt > label > textarea { font-size: 1.0em; line-height: 1.4em; }
#txt2img_styles, #img2img_styles, #control_styles { padding: 0; }
#txt2img_styles_refresh, #img2img_styles_refresh, #control_styles_refresh { padding: 0; margin-top: 1em; }
#img2img_settings { min-width: calc(2 * var(--left-column)); max-width: calc(2 * var(--left-column)); background-color: #111111; padding-top: 16px; }
#interrogate, #deepbooru { margin: 0 0px 10px 0px; max-width: 80px; max-height: 80px; font-weight: normal; font-size: 0.95em; }
#quicksettings .gr-button-tool { font-size: 1.6rem; box-shadow: none; margin-left: -20px; margin-top: -2px; height: 2.4em; }
#open_folder_extras, #footer, #style_pos_col, #style_neg_col, #roll_col, #extras_upscaler_2, #extras_upscaler_2_visibility, #txt2img_seed_resize_from_w, #txt2img_seed_resize_from_h { display: none; }
#save-animation { border-radius: var(--radius-sm) !important; margin-bottom: 16px; background-color: #111111; }
#script_list { padding: 4px; margin-top: 16px; margin-bottom: 8px; }
#settings > div.flex-wrap { width: 15em; }
#tab_extensions table { background-color: #222222; }
#txt2img_cfg_scale { min-width: 200px; }
#txt2img_checkboxes, #img2img_checkboxes, #control_checkboxes { background-color: transparent; margin-bottom: 0.2em; }

#extras_upscale { margin-top: 10px }
#txt2img_progress_row > div { min-width: var(--left-column); max-width: var(--left-column); }
#txt2img_settings { min-width: var(--left-column); max-width: var(--left-column); background-color: #111111; padding-top: 16px; }
#pnginfo_html2_info { margin-top: -18px; background-color: var(--input-background-fill); padding: var(--input-padding) }
#txt2img_styles_row, #img2img_styles_row, #control_styles_row { margin-top: -6px; }

/* based on gradio built-in dark theme */
:root, .light, .dark {
  --background-fill-secondary: none;
  --block_border_width: None;
  --block_label_border_width: None;
  --block_shadow: None;
  --block_title_background_fill: None;
  --block_title_border_color: None;
  --block_title_border_width: None;
  --block-background-fill: None;
  --block-border-color: var(--border-color-primary);
  --block-border-width: 1px;
  --block-info-text-color: var(--body-text-color-subdued);
  --block-info-text-size: var(--text-sm);
  --block-info-text-weight: 400;
  --block-label-background-fill: var(--background-fill-secondary);
  --block-label-border-color: var(--border-color-primary);
  --block-label-border-width: 1px;
  --block-label-margin: 0;
  --block-label-padding: var(--spacing-sm) var(--spacing-lg);
  --block-label-radius: calc(var(--radius-lg) - 1px) 0 calc(var(--radius-lg) - 1px) 0;
  --block-label-right-radius: 0 calc(var(--radius-lg) - 1px) 0 calc(var(--radius-lg) - 1px);
  --block-label-text-color: var(--neutral-200);
  --block-label-text-size: var(--text-sm);
  --block-label-text-weight: 400;
  --block-padding: var(--spacing-xl) calc(var(--spacing-xl) + 2px);
  --block-radius: var(--radius-lg);
  --block-shadow: var(--shadow-drop);
  --block-title-background-fill: none;
  --block-title-border-color: none;
  --block-title-border-width: 0px;
  --block-title-padding: 0;
  --block-title-radius: none;
  --block-title-text-size: var(--text-md);
  --block-title-text-weight: 400;
  --body-background-fill: var(--background-color);
  --body-text-size: var(--text-md);
  --body-text-weight: 400;
  --border-color-accent: var(--background-color);
  --border-color-primary: var(--background-color);
  --button-border-width: var(--input-border-width);
  --button-cancel-background-fill-hover: linear-gradient(to bottom right, #dc2626, #dc2626);
  --button-cancel-background-fill: linear-gradient(to bottom right, #dc2626, #b91c1c);
  --button-cancel-border-color-hover: var(--button-cancel-border-color);
  --button-cancel-border-color: #dc2626;
  --button-cancel-text-color-hover: var(--button-cancel-text-color);
  --button-cancel-text-color: white;
  --button-large-padding: 2px 6px;
  --button-large-radius: var(--radius-lg);
  --button-large-text-size: var(--text-lg);
  --button-large-text-weight: 400;
  --button-primary-background-fill-hover: linear-gradient(to bottom right, var(--primary-500), var(--primary-300));
  --button-primary-background-fill: linear-gradient(to bottom right, var(--primary-500), var(--primary-800));
  --button-primary-border-color-hover: var(--button-primary-border-color);
  --button-primary-border-color: var(--primary-500);
  --button-primary-text-color-hover: var(--button-primary-text-color);
  --button-primary-text-color: white;
  --button-secondary-border-color-hover: var(--button-secondary-border-color);
  --button-secondary-border-color: var(--neutral-600);
  --button-secondary-text-color-hover: var(--button-secondary-text-color);
  --button-shadow-active: 1px 1px 4px 0px #555555;
  --button-shadow-hover: 1px 1px 4px 0px #555555;
  --button-shadow: 4px 4px 4px 0px #333333;
  --button-small-padding: var(--spacing-sm) calc(2 * var(--spacing-sm));
  --button-small-radius: var(--radius-lg);
  --button-small-text-size: var(--text-md);
  --button-small-text-weight: 400;
  --button-transition: none;
  --checkbox-background-color-focus: var(--checkbox-background-color);
  --checkbox-background-color-hover: var(--checkbox-background-color);
  --checkbox-background-color-selected: var(--primary-500);
  --checkbox-background-color: var(--neutral-500);
  --checkbox-border-color-focus: var(--secondary-500);
  --checkbox-border-color-hover: var(--neutral-600);
  --checkbox-border-color-selected: var(--primary-600);
  --checkbox-border-color: transparent;
  --checkbox-border-radius: var(--radius-sm);
  --checkbox-border-width: var(--input-border-width);
  --checkbox-check: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  --checkbox-label-background-fill-hover: None;
  --checkbox-label-background-fill-selected: var(--checkbox-label-background-fill);
  --checkbox-label-background-fill: None;
  --checkbox-label-border-color-hover: var(--checkbox-label-border-color);
  --checkbox-label-border-color: var(--border-color-primary);
  --checkbox-label-border-width: var(--input-border-width);
  --checkbox-label-gap: 2px;
  --checkbox-label-padding: var(--spacing-md);
  --checkbox-label-shadow: var(--shadow-drop);
  --checkbox-label-text-color-selected: var(--checkbox-label-text-color);
  --checkbox-label-text-color: var(--body-text-color);
  --checkbox-label-text-size: var(--text-md);
  --checkbox-label-text-weight: 400;
  --checkbox-shadow: var(--input-shadow);
  --color-accent-soft: var(--neutral-700);
  --color-accent: var(--primary-500);
  --container-radius: var(--radius-lg);
  --embed-radius: var(--radius-lg);
  --error_border_width: None;
  --error-background-fill: var(--background-fill-primary);
  --error-border-color: var(--border-color-primary);
  --error-border-width: 1px;
  --error-text-color: #ef4444;
  --form-gap-width: 1px;
  --input_border_width: None;
  --input-background-fill-focus: var(--secondary-600);
  --input-background-fill-hover: var(--input-background-fill);
  --input-border-color-focus: var(--neutral-700);
  --input-border-color-hover: var(--input-border-color);
  --input-border-color: var(--border-color-primary);
  --input-border-width: 0;
  --input-placeholder-color: var(--neutral-500);
  --input-radius: var(--radius-lg);
  --input-shadow-focus: 2px 2px 2px 2px #111111;
  --input-text-size: var(--text-md);
  --input-text-weight: 400;
  --layout-gap: var(--spacing-xxl);
  --link-text-color-active: var(--secondary-500);
  --link-text-color-hover: var(--secondary-400);
  --link-text-color-visited: var(--secondary-600);
  --link-text-color: var(--secondary-500);
  --loader_color: None;
  --loader-color: var(--color-accent);
  --neutral-100: #e0e0e0;
  --neutral-200: #d0d0d0;
  --neutral-300: #b0b0b0;
  --neutral-400: #909090;
  --neutral-50: #f0f0f0;
  --neutral-500: #707070;
  --neutral-600: #606060;
  --neutral-700: #404040;
  --neutral-800: #333333;
  --neutral-900: #111827;
  --neutral-950: #0b0f19;
  --panel_border_width: None;
  --panel-background-fill: var(--background-fill-secondary);
  --panel-border-color: var(--border-color-primary);
  --panel-border-width: 0;
  --prose-header-text-weight: 400;
  --prose-text-size: var(--text-md);
  --prose-text-weight: 400;
  --radio-circle: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
  --radius-md: 0;
  --radius-xl: 0;
  --radius-xs: 0;
  --radius-xxl: 0;
  --radius-xxs: 0;
  --secondary-100: #dbeafe;
  --secondary-200: #bfdbfe;
  --secondary-300: #93c5fd;
  --secondary-400: #60a5fa;
  --secondary-50: #eff6ff;
  --secondary-500: #3b82f6;
  --secondary-600: #2563eb;
  --secondary-700: #1d4ed8;
  --secondary-800: #1e40af;
  --secondary-900: #1e3a8a;
  --secondary-950: #1d3660;
  --section-header-text-size: var(--text-md);
  --section-header-text-weight: 400;
  --shadow-drop-lg: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-drop: 0;
  --shadow-inset: rgba(0,0,0,0.05) 0px 2px 4px 0px inset;
  --shadow-spread: 1px;
  --size-14: 64px;
  --size-9: 64px;
  --slider_color: None;
  --slider-color: ;
  --stat-background-fill: linear-gradient(to right, var(--primary-400), var(--primary-600));
  --table-border-color: var(--neutral-700);
  --table-even-background-fill: #222222;
  --table-odd-background-fill: #333333;
  --table-radius: var(--radius-lg);
  --table-row-focus: var(--color-accent-soft);
}
