<div class="flexbox col padding lrp-32">
    <div class="flexbox row lcol">
        <div class="flexbox col">
            <h2>Anapnoe UI-UX Core</h2>
            <div class="column-1">
                <p>Anapnoe UI-UX Core extension leverages a custom-made visual editor and a cutting-edge component library 
					to facilitate the rapid development of sophisticated Gradio applications. 
					In addition to its visually appealing design and well-planned layout, this extension
                    offers several performance enhancements to both the <a href="https://github.com/AUTOMATIC1111/stable-diffusion-webui" target="_blank">Stable Diffusion web UI</a> and the 
					<a target="_blank" href="https://gradio.app">Gradio</a>
                    framework. These optimizations include:
                </p>
                <ul>
                    <li>Replacing all default Gradio stylesheets in the DOM with an optimized version that promote
                        better visual coherence across components.</li>
                    <li>Eliminating inline styles and Svelte classes from the DOM to minimize clutter and improve
                        efficiency.</li>
                    <li>Removing unnecessary "img2img Extra Networks" from the DOM to reduce duplicated images and event
                        listeners.</li>
                    <li>Eradicating inline event listeners from "txt2img Extra Networks" cards and action buttons.</li>
                    <li>Applying an event delegation pattern to further streamline the code by consolidating event
                        handling for "txt2img Extra Networks" cards and action buttons.</li>
                </ul>
                <p>
                    Although the current optimizations provide significant benefits, they are still applied after the
                    DOM has been loaded. A more effective approach would be to eliminate these unnecessary elements
                    entirely from the backend. This is an area for improvement and will be address in the future
                    releases of
                    <a href="https://github.com/anapnoe/stable-diffusion-webui-ux" target="_blank">Stable Diffusion web
                        UI-UX</a>.										
                </p>
				<!-- <br>
				<img alt="Anapnoe UI-UX default theme" src="./file=extensions/anapnoe-sd-uiux/html/images/anapnoe-ui-ux.png" lazy="true"/>
                -->
				<p>				
				Any extensions that replicate "Extra Network Cards" will not be officially supported. 
				However, if certain extensions hold significant value for your workflow, you can initiate a discussion. 
				If the community expresses interest and support for these optimizations, 
				I will be willing to submit pull requests to the extension's author to implement them.
				</p> 					
            </div>
        </div>
        <div class="flexbox col">
            <h2>
                Open Source
            </h2>
            <div class="column-1">
                <p>
                    Open source projects play a crucial role in protecting user privacy and security,
                    advocating for unhindered access to source code, and nurturing a more transparent technology
                    ecosystem.
                    By supporting this project through your donation, you'll contribute to its ongoing development
                    without any compromise
                    from advertisements or corporate agendas, and ensure that it stays freely accessible, current, and
                    open to all.
                <blockquote>There is only so much time in a day that a person can otherwise give (Dave Glick).
                </blockquote>
                </p>
            </div>
		</div>
		<div class="flexbox col">
            <h2>
                Sponsors & Supporters
            </h2>
            <div class="column-2">
                <p>
					Our sponsors and supporters will be prominently featured on a dedicated tab and on the GitHub page, 
					highlighting their commitment to advancing innovation in development.
                    As a heartfelt thank you, they'll get early access to all new features and premium add-ons.
                
                <blockquote>            
                <a style="font-weight:600;" href="https://buymeacoffee.com/dayanbayah" target="_blank">Donate now, and join forces to
                    create a sustainable realm of open source software that benefits everyone.
                </a>
                </blockquote>
                </p>  
            </div>
			
        </div>
	</div>
	<div class="flexbox col">
	<h3>Upcoming add-ons for UI-UX</h3>
	<div class="flexbox row lcol">
		<div class="flexbox col">
			 <h2>
                Workspaces UI-UX
            </h2>
			<div class="column-1">
                <p>
                 With workspaces extension, you can craft personalized views and arrange them in any way that suits your preferences, 
				 allowing you to tailor-make workflows that cater to your specific needs. 				 				
				</p>				
				<img alt="Anapnoe UI-UX default theme" src="./file=extensions-builtin/anapnoe-sd-uiux/html/images/workspaces.png" lazy="true"/>
                <p>
                    <a href="https://buymeacoffee.com/dayanbayah" target="_blank">Become a supporter</a> and get early access to Workspaces for UI-UX.
                </p>             
            </div>
			
            
		</div>
		<div class="flexbox col">
            <h2>
                Advanced Theme Style configurator [planned]
            </h2>
            <div class="column-1">
                <p>
					A sophisticated theme editor allowing you to personalize icons, fonts, and range sliders. 
					Tailor the visual experience of the user interface with the Advanced Theme Style configurator.
                </p>
            </div>
        </div>
        <div class="flexbox col">
            <h2>
                Visual Builder for Gradio Apps [work in progress] 
            </h2>
            <div class="column-1">
                <p>
					Introducing a low-code visual editor builder for Gradio Apps. 
                    Create templates and customize Gradio apps without extensive programming knowledge. Drag, drop, design, and deploy - all within a user-friendly interface. 
                    Build anything from simple AI applications to complex enterprise solutions.                    
                </p>
                <img alt="Anapnoe Gradio Visual editor" src="./file=extensions-builtin/anapnoe-sd-uiux/html/images/anapnoe-gradio-app-visual-builder.png" lazy="true"/>
            </div>
        </div>
    </div>
	<div>
</div>