<div id="layout-extensions" class="flexbox col">
	<div id="layout-extensions-group" class="layout panel">
		<div class="layout-header">       
			<div class="flexbox row">
				<div data-selector="#tabs_extensions .tab-nav" data-parent-selector="gradio-app" class="portal no-padding no-bg">
				</div>
			</div>
		</div>
		
		<div class="layout-content tabs_extensions" >
			<div data-selector="#tabs_extensions" data-parent-selector="gradio-app" class="portal no-padding">
			</div>
		</div>
	</div>
</div>