<div id="layout-train" class="layout">
    <div class="layout-header">
        <div class="flexbox row shrink panel padding no-br">
            <div id="train_header" class="flexbox row no-wrap shrink no-labels flex-start group-row">
                <button title="Parameters" tabItemId="#train_params_tabitem" tabGroup="train" id="train_params" active="true" class="xtabs-tab shrink">
                    <div class="mask-icon icon-equalize">
                    </div>
                    <span>Params</span>
                </button>
                <button title="train Results" tabItemId="#train_results_mobile_tabitem" tabGroup="train" id="train_results_mobile" class="xtabs-tab mobile">
                    <div class="mask-icon icon-results">
                    </div>
                    <span>Results</span>
                </button>
            </div>
            
        </div>
    </div>
    <div class="layout-content">
        <div class="xtabs panel auto no-tr">
            <div class="flexbox col shrink">
                <div id="train_params_tabitem_group" class="flexbox col no-padding">
                    <div id="train_params_tabitem" class="xtabs-item">
                        <div data-parent-selector="gradio-app" data-selector="#tab_train > div" class="portal no-bg">
                        </div>
                    </div>
                </div>
                <div id="train_results_mobile_tabitem_group" class="flexbox col mobile">
                    <div id="train_results_mobile_tabitem" mobile="#template-train-results" class="xtabs-item">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layout-footer hidden">
        <div class="xtabs-tabs row panel">
            <div id="portal-40ee" data-parent-selector="gradio-app" data-selector="#tab_train" class="portal">
            </div>
           
        </div>
    </div>
</div>