<div id="layout-pnginfo-group" class="flexbox col">
	<div id="layout-pnginfo" class="layout">
	  <div class="layout-header">
		<div id="pnginfo_send_buttons" class="flexbox row panel icons-bar center no-padding">
		<button id="ae-button-e77" class="ae-button" data-click="#txt2img_nav, #txt2img_params">
		  <div id="portal-26" data-selector="#txt2img_tab" data-parent-selector="#tab_pnginfo" droppable="true" class="portal invisible">
			<div id="icon-2" class="mask-icon icon-2txt2img">
			</div>
		  </div>
		  </button>
		  <button id="ae-button-e78" class="ae-button" data-click="#img2img_nav, #img2img_params">
		  <div id="portal-15" data-selector="#img2img_tab" data-parent-selector="#tab_pnginfo" droppable="true" class="portal invisible">
			<div id="mask-icon-45" class="mask-icon icon-2img2img">
			</div>
		  </div>
		  </button>
		  <button id="ae-button-e79" class="ae-button" data-click="#img2img_nav, #img2img_params">
		  <div id="portal-27" data-selector="#inpaint_tab" data-parent-selector="#tab_pnginfo" droppable="true" class="portal invisible">
			<div id="icon-9" class="mask-icon icon-2inpaint">
			</div>
		  </div>
		  </button>
		  <button id="ae-button-e76" class="ae-button" data-click="#extras_nav">
		  <div id="portal-28" data-selector="#extras_tab" data-parent-selector="#tab_pnginfo" droppable="true" class="portal invisible">
			<div id="icon-8" class="mask-icon icon-2extras">
			</div>
		  </div>
		  </button>
		</div>
	  </div>
	  <div class="layout-content">
		<div id="png_info_tabitem" class="xtabs-item full-height no-padding">
		  <div id="split-4" direction="vertical" gutterSize="8" class="split">
			<div data-minSize="0" data-initSize="50" id="ipp8cu" class="split-container">
			  <div id="portal-8" data-selector="#pnginfo_image" data-parent-selector="#tab_pnginfo" class="portal full-height object-fit no-padding-one no-bg">
			  </div>
			</div>
			<div data-minSize="0" data-initSize="50" id="iskes7" class="split-container">
			  <div id="portal-9" data-selector="#tab_pnginfo textarea" data-parent-selector="gradio-app" class="portal full-height no-padding-one no-bg">
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
</div>
             