
          <div id="layout-model-merger" class="layout">
            <div class="layout-header panel no-br">
			
			   <button id="ae-button-8" class="ae-button">
                    <div id="portal" data-selector="#modelmerger_merge" data-parent-selector="#tab_modelmerger" droppable="true" class="portal no-bg shrink invisible">
                      <div id="mask-icon-8" class="mask-icon icon-generate">
                      </div>
                      <span>Merge models</span>
                    </div>
                  </button>
            
            </div>
            <div id="i0sfvmm" class="layout-content">
              <div id="xtabmm" class="xtabs panel no-tr no-br no-padding">
                <div id="xtabs-itemsmm" class="xtabs-items">
                
                  
                  <div id="modelmerger_params_tabitem_group" class="flexbox col">
                    <div id="modelmerger_params_tabitem" class="xtabs-item">
                      <div id="flexbox-27m" class="flexbox col">
                       
                       
						
						<div id="portal-781ad" data-selector="#modelmerger_interp_description" data-parent-selector="#tab_modelmerger" class="portal">
                        </div>
						
						
						<div id="flexbox-227mvn" class="flexbox row">
						
						
						
						  <div id="flexbox-227a" class="flexbox no-border min-width fb-50 row">
							<div id="portal-678a" data-parent-selector="#tab_modelmerger" data-selector="#modelmerger_primary_model_name" class="portal no-min-width">
							</div>
							<div id="portal-689a" data-parent-selector="#tab_modelmerger" data-selector="#refresh_checkpoint_A" droppable="true" class="portal shrink invisible">
							  <div id="mask-icon-166a" class="mask-icon refresh">
							  </div>
							</div> 
						  </div>
						  
						  <div id="flexbox-227b" class="flexbox no-border min-width fb-50 row">
							<div id="portal-678b" data-parent-selector="#tab_modelmerger" data-selector="#modelmerger_secondary_model_name" class="portal no-min-width">
							</div>
							<div id="portal-689b" data-parent-selector="#tab_modelmerger" data-selector="#refresh_checkpoint_B" droppable="true" class="portal shrink invisible">
							  <div id="mask-icon-166b" class="mask-icon refresh">
							  </div>
							</div> 
						  </div>
						  
						  <div id="flexbox-227c" class="flexbox no-border min-width fb-50 row">
							<div id="portal-678c" data-parent-selector="#tab_modelmerger" data-selector="#modelmerger_tertiary_model_name" class="portal no-min-width">
							</div>
							<div id="portal-689c" data-parent-selector="#tab_modelmerger" data-selector="#refresh_checkpoint_C" droppable="true" class="portal shrink invisible">
							  <div id="mask-icon-166c" class="mask-icon refresh">
							  </div>
							</div> 
						  </div>
						  
						  </div>
						
						
						
						<div id="portal-781am" data-selector="#modelmerger_custom_name" data-parent-selector="#tab_modelmerger" class="portal">
                        </div>
						
						<div id="portal-782am" data-selector="#modelmerger_interp_amount" data-parent-selector="#tab_modelmerger" class="portal">
                        </div>
						
						<div id="portal-783am" data-selector="#modelmerger_interp_method" data-parent-selector="#tab_modelmerger" class="portal">
                        </div>
						<div id="flexbox-227m" class="flexbox row">
						<div id="portal-784am" data-selector="#modelmerger_checkpoint_format" data-parent-selector="#tab_modelmerger" class="portal min-width">
                        </div>
						
						<div id="portal-785am" data-selector="#modelmerger_save_as_half" data-parent-selector="#tab_modelmerger" class="portal">
                        </div>
						</div>
						
						<div id="flexbox-227mv" class="flexbox row">
						<div id="portal-786am" data-selector="#modelmerger_config_method" data-parent-selector="#tab_modelmerger" class="portal min-width fb-50">
                        </div>
						
						
						  <div id="flexbox-227" class="flexbox no-border min-width fb-50 row">
							<div id="portal-678" data-parent-selector="#tab_modelmerger" data-selector="#modelmerger_bake_in_vae" class="portal no-min-width">
							</div>
							<div id="portal-689" data-parent-selector="#tab_modelmerger" data-selector="#modelmerger_refresh_bake_in_vae" droppable="true" class="portal shrink invisible">
							  <div id="mask-icon-166u" class="mask-icon refresh">
							  </div>
							</div> 
						  </div>
						  </div>
						
						<div id="portal-78amu1" data-selector="#modelmerger_discard_weights" data-parent-selector="#tab_modelmerger" class="portal">
                        </div>
						
						<div id="portal-78amu3" data-selector="#tab_modelmerger .gradio-accordion" data-parent-selector="gradio-app" class="portal">
                        </div>
						
						
                       

						
						
                      </div>
                    </div>
                  </div>
               
			   
                
                </div>
              </div>
            </div>
            <div class="layout-footer">
              <div class="xtabs-tabs row panel no-tr">
               


   <div id="portal-78amu2" data-selector="#modelmerger_results_container" data-parent-selector="#tab_modelmerger" class="portal">
                        </div>
               

            
			   
			   
              </div>
            </div>
          </div>
