<div id="layout-extras" class="layout">
    <div class="layout-header">
        <div class="flexbox row shrink panel padding no-br">
            <div id="extras_header" class="flexbox row no-wrap shrink no-labels flex-start group-row">
                <button title="Parameters" tabItemId="#extras_params_tabitem" tabGroup="extras" id="extras_params" active="true" class="xtabs-tab shrink">
                    <div class="mask-icon icon-equalize">
                    </div>
                    <span>Params</span>
                </button>
                <button title="Extras Results" tabItemId="#extras_results_mobile_tabitem" tabGroup="extras" id="extras_results_mobile" class="xtabs-tab mobile">
                    <div class="mask-icon icon-results">
                    </div>
                    <span>Results</span>
                </button>
            </div>
            <div class="flexbox row flex-end">
                <button class="ae-button">
                    <div data-selector="#extras_generate" data-parent-selector="#tab_extras" droppable="true" class="portal no-bg shrink invisible">
                        <div class="mask-icon icon-generate">
                        </div>
                        <span>Upscale</span>
                    </div>
                </button>
            </div>
        </div>
    </div>
    <div class="layout-content">
        <div class="xtabs panel auto no-tr">
            <div class="flexbox col shrink">
                <div id="extras_params_tabitem_group" class="flexbox col">
                    <div id="extras_params_tabitem" class="xtabs-item">
                        <div id="portal-53e" data-parent-selector="#tab_extras" data-selector="#mode_extras" class="portal min-width no-padding">
                        </div>
                        <div class="flexbox col">
                            <div id="flexbox-18ihe" class="flexbox row wrap">
                                <div id="flexbox-18iehe" class="flexbox row grow-all group no-wrap">
                                    <div class="flexbox panel col shrink">
                                        <button tabItemId="#extras_scale_by_tabitem" tabGroup="extras-scale-group" data-click="#tab_extras" active="true" class="xtabs-tab no-drag "><span
                                            id="ir9t74">Scale by</span></button>
                                        <button tabItemId="#extras_scale_to_tabitem" tabGroup="extras-scale-group" data-click="#tab_extras" class="xtabs-tab no-drag"><span id="izj18e">Scale to</span></button>
                                    </div>
                                    <div class="flexbox col">
                                        <div class="xtabs sub-group no-padding">
                                            <div class="xtabs-items">
                                                <div class="flexbox col no-padding full-height">
                                                    <div id="extras_scale_to_tabitem" class="xtabs-item notransition inset initial">
                                                        <div class="flexbox row wrap">
                                                            <div class="flexbox no-wrap row">
                                                                <div class="flexbox col">
                                                                    <div id="portal-54e" data-parent-selector="#tab_extras" data-selector="#extras_upscaling_resize_w" class="portal">
                                                                    </div>
                                                                    <div id="portal-85e" data-parent-selector="#tab_extras" data-selector="#extras_upscaling_resize_h" class="portal">
                                                                    </div>
                                                                </div>
                                                                <div class="flexbox unset-min-width shrink col panel padding center">
                                                                    <div id="portal-86e" data-selector="#upscaling_res_switch_btn" data-parent-selector="#tab_extras" droppable="true"
                                                                        class="portal no-padding shrink invisible tool">
                                                                        <div class="mask-icon icon-res-switch">
                                                                        </div>
                                                                    </div>
                                                                    <button id="ae-button-crop" toggle="true" class="ae-button shrink tool">
                                                                        <div id="portal-106e" data-parent-selector="#tab_extras" data-selector="#extras_upscaling_crop" droppable="true"
                                                                            class="portal shrink invisible tool">
                                                                            <div class="mask-icon icon-crop">
                                                                            </div>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="extras_scale_by_tabitem" class="xtabs-item initial inset notransition">
                                                        <div class="flexbox col">
                                                            <div id="portal-88e" data-parent-selector="#tab_extras" data-selector="#extras_upscaling_resize" class="portal min-width"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="portal-92e" data-parent-selector="#tab_extras" data-selector="#extras_upscaler_1" class="portal min-width">
                        </div>
                        <div class="flexbox group row">
                            <div id="portal-94e" data-parent-selector="#tab_extras" data-selector="#extras_upscaler_2" class="portal min-width">
                            </div>
                            <div id="portal-98e" data-parent-selector="#tab_extras" data-selector="#extras_upscaler_2_visibility" class="portal min-width">
                            </div>
                        </div>
                        <div id="portal-38e" data-parent-selector="#tab_extras" data-selector="#extras_gfpgan_visibility" class="portal min-width">
                        </div>
                        <div class="flexbox group row">
                            <div id="portal-39e" data-parent-selector="#tab_extras" data-selector="#extras_codeformer_visibility" class="portal min-width">
                            </div>
                            <div id="portal-40e" data-parent-selector="#tab_extras" data-selector="#extras_codeformer_weight" class="portal min-width">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="extras_results_mobile_tabitem_group" class="flexbox col mobile">
                    <div id="extras_results_mobile_tabitem" mobile="#template-extras-results" class="xtabs-item">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layout-footer hidden">
        <div class="xtabs-tabs row panel">
            <div id="portal-40ee" data-parent-selector="gradio-app" data-selector="#tab_extras" class="portal">
            </div>
            <div id="portal-7irt2ee" data-selector="#extras_resize_mode" data-parent-selector="#tab_extras" class="portal">
            </div>
        </div>
    </div>
</div>