<div id="layout-img2img" class="layout">
    <div class="layout-header">
        <div id="img2img_header_panel" class="flexbox row shrink panel padding no-br">
            <div id="img2img_header" class="flexbox row no-wrap shrink no-labels flex-start group-row">
                <button title="Prompts" tabItemId="#img2img_prompts_tabitem" tabGroup="img2img" id="img2img_prompts" active="true" class="xtabs-tab shrink">
                    <div class="mask-icon icon-prompt">
                    </div>
                    <span>Prompts</span>
                </button>
                <button title="Prompts" tabItemId="#img2img_phystonPrompt_tabitem" tabGroup="img2img" id="btn_img2img_physton" class="xtabs-tab shrink hidden">
                    <div class="mask-icon icon-physton">
                    </div>
                    <span>Physton</span>
                </button>
                <!--   <button tabItemId="#img2img_image_tabitem" tabGroup="img2img" id="ilnvy-2ii" class="xtabs-tab shrink">
                    <div id="mask-icon-6-2i" class="mask-icon icon-image-edit">
                    </div>
                    <span>Image</span>
                </button> -->
                <button title="Parameters" tabItemId="#img2img_params_tabitem" tabGroup="img2img" id="img2img_params" class="xtabs-tab shrink">
                    <div class="mask-icon icon-equalize">
                    </div>
                    <span>Params</span>
                </button>
                <button title="Scripts / Extensions" tabItemId="#img2img_scripts_tabitem" tabGroup="img2img" id="img2img_scripts" class="xtabs-tab">
                    <div class="mask-icon icon-scripts">
                    </div>
                    <span>Scripts</span>
                </button>
                <button title="img2img Results" tabItemId="#img2img_results_mobile_tabitem" tabGroup="img2img" id="img2img_results_mobile" class="xtabs-tab mobile">
                    <div class="mask-icon icon-results">
                    </div>
                    <span>Results</span>
                </button>
             <!--    <button tabItemId="#img2img_temp_tabitem" tabGroup="img2img" class="xtabs-tab">
                    <div id="mask-icon-28i" class="mask-icon icon-bug">
                    </div>
                </button> -->
            </div>
            <div id="img2img_generate_group" class="flexbox row flex-end group-row">
                <div title="Skip" data-selector="#img2img_skip" data-parent-selector="#tab_img2img" droppable="true" class="portal invisible shrink no-bg no-padding-one disable">
                    <div class="mask-icon icon-skip">
                    </div>
                </div>
                <div title="Interrupt" data-selector="#img2img_interrupt" data-parent-selector="#tab_img2img" droppable="true"
                    class="portal invisible shrink no-bg no-padding-one disable">
                    <div class="mask-icon icon-stop">
                    </div>
                </div>
                
				<button title="Generate" class="ae-button generate no-rr">
					<div data-selector="#img2img_generate" data-parent-selector="#tab_img2img" droppable="true" class="portal no-bg shrink invisible">
						<div class="mask-icon icon-generate">
						</div>
						<span>Generate</span>
					</div>
				</button>
				<button title="Generate forever" id="img2img_loop" toggle="true" class="ae-button no-lr shrink">
					<div  class="mask-icon icon-loop">
					</div>
				</button>
               
            </div>
        </div>
    </div>
    <div class="layout-content">
        <div class="xtabs panel no-padding no-tr">
            <div class="xtabs-items">
                <div id="img2img_image_tabitem_group" class="flexbox col">
                    <div id="img2img_image_tabitem" class="xtabs-item">
                        <div class="flexbox col">
                            <!-- 
                          <div id="portal-6im" data-selector="#mode_img2img" data-parent-selector="#tab_img2img" class="portal">
                            </div> -->
                            <!-- 	
							  <div id="portal-6imn" data-selector="#resize_mode" data-parent-selector="#tab_img2img" class="portal">
                            </div>
							
							
							 <div id="portal-6imsw" data-selector="#inpaint_controls" data-parent-selector="#tab_img2img" class="portal">
                            </div> -->
                        </div>
                    </div>
                </div>
                <div id="img2img_prompts_tabitem_group" class="flexbox col">
                    <div id="img2img_prompts_tabitem" class="xtabs-item">
                        <div class="layout">
                            <div class="layout-header">
                                <div class="flexbox row no-padding">
                                    <div class="flexbox no-border no-bg shrink row">
                                        <div data-parent-selector="#tab_img2img" data-selector="#img2img_tools #paste" droppable="true"
                                            class="portal shrink invisible">
                                            <div class="mask-icon icon-magic">
                                            </div>
                                        </div>
                                        <div data-parent-selector="#img2img_tools" data-selector="#img2img_clear_prompt" droppable="true"
                                            class="portal shrink invisible">
                                            <div class="mask-icon icon-delete">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flexbox no-border no-bg row">
                                        <div data-parent-selector="#img2img_styles_row" data-selector="#img2img_styles" class="portal no-min-width">
                                        </div>
                                        <div data-parent-selector="#tab_img2img" data-selector="#img2img_styles_edit_button" droppable="true"
                                            class="portal shrink invisible">
                                            <div class="mask-icon icon-styles-edit">
                                            </div>
                                        </div>
										<div data-parent-selector="#tab_img2img" data-selector="#img2img_style_apply" droppable="true"
                                            class="portal shrink invisible">
                                            <div class="mask-icon icon-styles-apply">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layout-content">
                                <div class="flexbox col">
                                    <div id="split-2i" direction="vertical" gutterSize="8" class="split">
                                        <div data-minSize="0" data-initSize="50" id="iubsli" class="split-container">
                                            <div class="layout">
                                               <!--  <div class="layout-header">
                                                </div> -->
                                                <div class="layout-content">
                                                    <div data-selector="#img2img_prompt" data-parent-selector="#tab_img2img" class="portal no-bg">
                                                    </div>
                                                </div>
                                                <div class="layout-footer">
                                                    <div data-parent-selector="#img2img_prompt" data-selector="#img2img_token_counter.block" class="portal relative" data-timeout="1000">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-minSize="0" data-initSize="50" id="idyyfi" class="split-container">
                                            <div class="layout">
                                               <!--  <div class="layout-header">
                                                </div> -->
                                                <div class="layout-content">
                                                    <div data-selector="#img2img_neg_prompt" data-parent-selector="#tab_img2img" class="portal no-bg">
                                                    </div>
                                                </div>
                                                <div class="layout-footer">
                                                    <div data-parent-selector="#img2img_neg_prompt" data-selector="#img2img_negative_token_counter.block" data-timeout="1000"
                                                        class="portal relative">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layout-footer shrink">
                                <div class="flexbox row">
                                    <div data-parent-selector="#tab_img2img" data-selector="#interrogate" droppable="true"
                                        class="portal shrink no-padding-one no-bg icon-left">
                                        <div class="mask-icon question-answer">
                                        </div>
                                    </div>
                                    <div data-parent-selector="#tab_img2img" data-selector="#deepbooru" droppable="true"
                                        class="portal shrink no-padding-one no-bg icon-left">
                                        <div class="mask-icon question-answer">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="img2img_params_tabitem_group" class="flexbox col">
                    <div id="img2img_params_tabitem" class="xtabs-item">
                        <div class="flexbox col">
                            <div data-selector="#mode_img2img" data-parent-selector="#tab_img2img" class="portal">
                            </div>
                        </div>						
                        <div id="accordion_mask" class="accordion">
                            <div class="accordion-bar">
                                <span class="accordion-title">Inpaint options</span>
                                <span class="accordion-icon">▼</span>
                            </div>
                            <div id="acc-ci" class="accordion-container">
                                <div data-selector="#inpaint_controls" data-parent-selector="#tab_img2img" class="portal no-bg no-padding">
                                </div>
                            </div>
                        </div>
                        <div id="accordion_resize_mode" class="accordion">
                            <div class="accordion-bar">
                                <span class="accordion-title">Resize mode</span>
                                <span class="accordion-icon">▼</span>
                            </div>
                            <div id="acc-cir" class="accordion-container">
                                <div data-selector="#resize_mode" data-parent-selector="#tab_img2img" class="portal no-bg no-padding">
                                </div>
                            </div>
                        </div>
                        <div class="flexbox col">
                            <div class="flexbox row wrap">
                                <div class="flexbox row grow-all group no-wrap fb-60">
                                    <div class="flexbox panel col shrink">
                                        <button tabItemId="#img2img_scale_to_tabitem" tabGroup="img2img-resize-group" data-click="#tab_img2img" active="true" class="xtabs-tab no-drag"><span
                                                id="izj18eih">Resize to</span></button>
                                        <button tabItemId="#img2img_scale_by_tabitem" tabGroup="img2img-resize-group" data-click="#tab_img2img" class="xtabs-tab no-drag"><span>Resize by</span></button>
                                    </div>
                                    <div class="flexbox col">
                                        <div class="xtabs sub-group no-padding">
                                            <div class="xtabs-items">
                                                <div class="flexbox col no-padding full-height">
                                                    <div id="img2img_scale_to_tabitem" class="xtabs-item initial inset notransition">
                                                        <div class="flexbox row wrap">
                                                            <div class="flexbox no-wrap row">
                                                                <div class="flexbox col">
                                                                    <div data-parent-selector="#tab_img2img" data-selector="#img2img_width" class="portal">
                                                                    </div>
                                                                    <div data-parent-selector="#tab_img2img" data-selector="#img2img_height" class="portal">
                                                                    </div>
                                                                </div>
                                                                <div class="flexbox unset-min-width shrink col panel center">
                                                                    <div data-selector="#img2img_detect_image_size_btn" data-parent-selector="#tab_img2img"
                                                                        droppable="true" class="portal invisible tool">
                                                                        <div class="mask-icon icon-ruler">
                                                                        </div>
                                                                    </div>
                                                                    <div data-selector="#img2img_res_switch_btn" data-parent-selector="#tab_img2img"
                                                                        droppable="true" class="portal invisible tool">
                                                                        <div class="mask-icon icon-res-switch">
                                                                        </div>
                                                                    </div>
                                                                    <div data-selector="#img2img_dimensions_row" data-parent-selector="#tab_img2img"
                                                                        class="portal invisible tool">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="img2img_scale_by_tabitem" class="xtabs-item initial inset notransition">
                                                        <div class="flexbox col group inset subgroup">
                                                            <div data-parent-selector="#tab_img2img" data-selector="#img2img_scale" class="portal"></div>
                                                            <div data-parent-selector="#tab_img2img" data-selector="#img2img_scale_resolution_preview"
                                                                class="portal"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flexbox group col fb-40">
									<!-- <div id="flexbox-14wi" class="flexbox row"> -->
										<div data-parent-selector="#tab_img2img" data-selector="#img2img_batch_size" class="portal">
										</div>
										<div data-parent-selector="#tab_img2img" data-selector="#img2img_batch_count" class="portal">
										<!-- </div> -->
									</div>
								</div>
                            </div>
                        </div>
                        <div class="flexbox group row">
                            <div data-parent-selector="#tab_img2img" data-selector="#img2img_sampling" class="portal min-width">
                            </div>
                            <div data-parent-selector="#tab_img2img" data-selector="#img2img_cfg_scale" class="portal min-width">
                            </div>
                            <div data-parent-selector="#tab_img2img" data-selector="#img2img_steps" class="portal min-width">
                            </div>
                            <div data-parent-selector="#tab_img2img" data-selector="#img2img_denoising_strength" class="portal min-width">
                            </div>
                        </div>
                        <div class="flexbox group col">
                            <div class="flexbox row">
                                <div class="flexbox no-border row">
                                    <div data-parent-selector="#tab_img2img" data-selector="#img2img_seed" class="portal no-min-width">
                                    </div>
                                    <div data-parent-selector="#tab_img2img" data-selector="#img2img_random_seed" droppable="true" class="portal invisible shrink">
                                        <div class="mask-icon icon-dice">
                                        </div>
                                    </div>
                                    <div data-parent-selector="#tab_img2img" data-selector="#img2img_reuse_seed" droppable="true" class="portal shrink invisible">
                                        <div class="mask-icon icon-recycle">
                                        </div>
                                    </div>
                                    <button toggle="true" class="ae-button shrink toggle-seed">
                                        <div data-parent-selector="#tab_img2img" data-selector="#img2img_subseed_show" droppable="true"
                                            class="portal shrink invisible tool">
                                            <div class="mask-icon icon-equalize">
                                            </div>
                                        </div>
                                    </button>
                                </div>
                            </div>
                            <div data-parent-selector="#tab_img2img" data-selector="#img2img_seed_extras" droppable="true" class="portal sub-group">
                                <div class="flexbox col">
                                    <div class="flexbox row">
                                        <div class="flexbox no-border min-width fb-50 row">
                                            <div data-parent-selector="#tab_img2img" data-selector="#img2img_subseed" class="portal no-min-width">
                                            </div>
                                            <div data-parent-selector="#tab_img2img" data-selector="#img2img_random_subseed" droppable="true"
                                                class="portal shrink invisible">
                                                <div class="mask-icon icon-dice">
                                                </div>
                                            </div>
                                            <div data-parent-selector="#tab_img2img" data-selector="#img2img_reuse_subseed" droppable="true"
                                                class="portal shrink invisible">
                                                <div class="mask-icon icon-recycle">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flexbox row fb-50">
                                            <div data-parent-selector="#tab_img2img" data-selector="#img2img_subseed_strength" class="portal min-width fb-50">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flexbox row wrap">
                                        <div data-parent-selector="#tab_img2img" data-selector="#img2img_seed_resize_from_w" class="portal min-width">
                                        </div>
                                        <div data-parent-selector="#tab_img2img" data-selector="#img2img_seed_resize_from_h" class="portal min-width">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-selector="#img2img_enable" data-parent-selector="#tab_img2img" class="portal">
                        </div>
                        <div class="flexbox group row">
                            <div data-selector="#img2img_override_settings" data-parent-selector="#tab_img2img" class="portal">
                            </div>
                        </div>
						<div data-selector="#layout-img2img .gradio-accordion:has( div[id^='setting_'])" data-parent-selector="gradio-app" class="portal hide-empty">
                        </div>
                        <div data-selector="#img2img_container_aspect_ratio" data-parent-selector="#tab_img2img" class="portal hide-empty">
                        </div>
                    </div>
                </div>
                <div id="img2img_scripts_tabitem_group" class="flexbox col">
                    <div id="img2img_scripts_tabitem" class="xtabs-item">
                        <div data-selector="#img2img_script_container" data-parent-selector="#tab_img2img" class="portal no-bg">
                        </div>
                    </div>
                </div>
                <div id="img2img_phystonPrompt_tabitem_group" class="flexbox col">
                    <div id="img2img_phystonPrompt_tabitem" class="xtabs-item">						
                        <div id="split-physton-img2img" direction="vertical" gutterSize="8" class="split">

                            <div data-minSize="0" data-initSize="50" id="iubslphi" class="split-container">
                                    <div  show-button="#btn_img2img_physton" data-selector="#phystonPrompt_img2img_prompt" data-parent-selector="#tab_img2img" class="portal no-bg no-padding">
                                </div>
                            </div>

                            <div data-minSize="0" data-initSize="50" id="idyyfphi" class="split-container">
                                    <div data-selector="#phystonPrompt_img2img_neg_prompt" data-parent-selector="#tab_img2img" class="portal no-bg no-padding">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="img2img_results_mobile_tabitem_group" class="flexbox col mobile">
                    <div id="img2img_results_mobile_tabitem" mobile="#template-img2img-results" class="xtabs-item">
                       
                    </div>
                </div>
                <div id="img2img_temp_tabitem_group" class="flexbox col hidden">
                    <div id="img2img_temp_tabitem" class="xtabs-item">
                        <div id="accordioni" class="accordion">
                            <div class="accordion-bar">
                                <span class="accordion-title">Prompts &amp; Styles</span>
                                <span class="accordion-icon">▼</span>
                            </div>
                            <div id="acc-ci" class="accordion-container">
                            </div>
                        </div>
                        <div data-selector="#tab_img2img" data-parent-selector="gradio-app" class="portal">
                        </div>
						<div data-selector="#img2img_column_size .tab-nav" data-parent-selector="#tab_img2img" class="portal">
                        </div>
						<div data-selector="#img2img_gallery_container" data-parent-selector="gradio-app" class="portal">
                        </div>
						<div data-selector="#img2img_generation_info_button" data-parent-selector="gradio-app" class="portal">
						</div>
						<!--   
						<div data-selector="#img2img_extra_tabs" data-parent-selector="#tab_img2img" droppable="true" class="portal">
                        </div>
                        <div data-selector="#img2img_settings" data-parent-selector="#tab_img2img" class="portal">
                        </div> 
						-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="img2img_results_generate_tabitem_group" class="flexbox col panel no-grow mobile">
        <div id="img2img_results_generate_tabitem" mobile="#img2img_generate_group" class="xtabs-item">
                        
        </div>
    </div>
    <!--  <div class="layout-footer">
        <div class="xtabs-tabs row panel">
            <button tabItemId="#img2img_temp_tabitem" tabGroup="img2img" class="xtabs-tab">
                <div class="mask-icon icon-bug">
                </div>
            </button>
        </div>
    </div> -->
</div>