
			  
			  
			  <div id="layout-theme-group" class="flexbox col">
                <div id="layout-theme" class="layout">
                  <div class="layout-header">
                    <div id="flexbox-1011" class="flexbox row panel no-padding">
                      <div id="portal-8811" data-selector="#tab_ui_theme .svelte-vt1mxs" data-parent-selector="gradio-app" class="portal full-height object-fit no-padding-one no-bg">
                      </div>
                    </div>
                  </div>
                  <div class="layout-content">
                    <div id="theme_tabitem" class="xtabs-item full-height no-padding">
                      <div id="portal-theme" data-selector="#theme_overflow_container" data-parent-selector="#tab_ui_theme" class="portal full-height object-fit no-padding-one no-bg">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

			  
    