
			  
			  
			  

			  
              <div id="layout-quicksettings-group" class="flexbox col">
                <div id="layout-quicksettings" class="layout">
                  <div class="layout-header">
                  </div>
                  <div class="layout-content">
                    <div id="quicksettings_tabitem" class="xtabs-item">
                      <div id="portal-4" data-selector="#quicksettings" data-parent-selector="gradio-app" class="portal">
                      </div>
                    </div>
                  </div>
                  <div class="layout-footer">
                  </div>
                </div>
              </div>
	