# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Dev extensions
*.so
*.vscode
*.idea


# Data/models and other folders.
*galleries*
data/*
logs/*
html/*
latex/*
dist/
release/
biometric_models/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

